/* some style */
body {
  margin: 30px;
}

* {
  box-sizing: border-box;
}

.todo-container {
  width: 500px;
  margin: auto;
}

.todo-container > h1 {
  text-align: center;
}

a {
  color: black;
}

input[type="checkbox"]:checked + span {
  text-decoration: line-through;
}

#input {
  width: 100%;
  min-height: 25px;
  padding: 5px;
}

ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px 0;
  width: 100%;
}

li > span {
  display: inline-block;
}

li > a {
  float: right;
}

.controls a {
  margin: 5px;
}
